<main class="testimonial-grid">
  <article class="testimonial grid-col-span-2 flow bg-primary-400 quote text-neutral-100">
    <div class="flex">
      <div>
        <h1>Senior Portrait</h1>
        <p class="position">Dedicated to preserving
          these transition memories with stunning photographs that tell your unique story.</p>
      </div>
    </div>
    <p>
      When it comes to senior photography, choosing the right photographer can make all the difference in capturing
      those precious moments that mark the end of a significant chapter in your life.
      I believe I am the ideal choice for your senior photography needs because of my passion for storytelling through
      imagery and my commitment to creating a unique and personalized experience for each senior.
      With a keen eye for detail, I aim to bring out your personality and style, ensuring that your senior portraits are
      a true reflection of who you are at this pivotal moment.
      I prioritize creativity and innovation in every session, so you can expect a blend of classic and contemporary
      shots that will stand the test of time. Whether you're seeking a traditional studio setting or a location that
      holds personal significance,
      I'm here to provide a comfortable and enjoyable photoshoot, resulting in senior portraits that you'll cherish for
      a lifetime. Your senior year is a time of celebration and transition.
      Choose me as your senior photographer, and together, we'll create a visual legacy that encapsulates the essence of
      this exciting time in your life.
    </p>
  </article>
  <article class="testimonial flow bg-secondary-400 text-neutral-100">
    <div class="flex">
      <div>
        <img src="../../../assets/Headshots/Portraits/Senior_Portraits/MKY08729-Edit.jpg" alt="Senior Portraits">
      </div>
      <div>

      </div>
    </div>

  </article>
  <article class="testimonial flow bg-neutral-100 text-secondary-400">
    <div class="flex">
      <div>
        <img src="../../../assets/Headshots/Portraits/A7402548-Edit.jpg" alt="Family Portraits">
      </div>
      <div>

      </div>
    </div>

  </article>
  <article class="testimonial grid-col-span-2 flow bg-secondary-500 text-neutral-100">
    <div class="flex">
      <div>
        <h1>Family Portrait</h1>
        <p class="position">Dedicated to preserving
          these transition memories with stunning photographs that tell your unique story.</p>
      </div>
      <div>

      </div>
    </div>

    <p>
      Selecting the right family photographer is a significant decision, as these images will be cherished for
      generations to come.
      I firmly believe that I am the perfect choice for your family photography needs. With a deep appreciation for the
      beauty of familial bonds, I am dedicated to capturing the genuine love,
      laughter, and connections that make your family unique. My approach to family photography is marked by a
      combination of professionalism and warmth, creating a relaxed and enjoyable atmosphere during our sessions.
      Whether it's a candid outdoor shoot or a cozy indoor gathering, I excel in bringing out the authenticity of your
      family moments. I understand that each family is different, and that's why I work closely with you to tailor every
      photoshoot
      to your vision and preferences. The end result is a collection of heartwarming, natural, and timeless photographs
      that will adorn your walls and photo albums for years to come. Choose me as your family photographer,
      and together, we'll create a visual narrative that reflects the joy, connections, and love that define your
      family's story.
    </p>
  </article>
  <!-- <article class="testimonial flow bg-neutral-100 text-secondary-400">
    <div class="flex">
      <div>
        <img src="./images/image-kira.jpg" alt="Kira Whittle">
      </div>
      <div>
        <h2 class="name">Kira Whittle</h2>
        <p class="position">Verified Graduate</p>
      </div>
    </div>
    <p>
      Such a life-changing experience. Highly recommended!
    </p>
    <p>
      “ Before joining the bootcamp, I’ve never written a line of code. I needed some structure from
      professionals who can help me learn programming step by step. I was encouraged to enroll by a former
      student of theirs who can only say wonderful things about the program. The entire curriculum and staff
      did not disappoint. They were very hands-on and I never had to wait long for assistance. The agile team
      project, in particular, was outstanding. It took my learning to the next level in a way that no tutorial
      could ever have. In fact, I’ve often referred to it during interviews as an example of my developent
      experience. It certainly helped me land a job as a full-stack developer after receiving multiple offers.
      100% recommend! ”
    </p>
  </article> -->
</main>


