.testimonial-grid{
  display: grid;
  gap: 1.5rem;

  padding-block: 2rem;
  width: min(85%, 90rem);
  margin-inline: auto;
}

.testimonial{
  background-color: hsl(var(--clr-green));
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-green) / 0.25);
}





@media (min-width:50rem){
  .grid-col-span-2 {
    grid-column: span 2;
  }

  .testimonial-grid{
    grid-template-columns: repeat(4, 1fr);
  }

  .testimonial:last-child{
    grid-column-start: 4;
    grid-row: 1 / 3;
  }

}