<div>
<div class="carousel__track-container">
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H1.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H2.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H3.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H4.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H5.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H6.jpg" alt="headshot sample"></div>  
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H7.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H8.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H9.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H10.jpg" alt="headshot sample"></div> 
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H11.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H12.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H13.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H14.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H15.jpg" alt="headshot sample"></div>
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H16.jpg" alt="headshot sample"></div>  
    <div class="carousel__slide"><img class ="carousel__image" src="../../../assets/Headshots/Landscape/H17.jpg" alt="headshot sample"></div>

 
  </div>
  
   <button class="carousel__button carousel__button--right">
    <img src="../../../assets/right.svg" alt="right">
  </button>
  </div>
  
  
    <div class="dots">
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
    </div>