
.page__container{
  position: relative;
  margin: 0 auto;
}
.gallery__container{
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
}

.packages_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.package{
  display: flex;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
  /* width: 33.33%; */
}
.package_title{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.package_price{
  text-align: center;
  width: 100%;
}

.package_details{
  width: 100%;
  text-align: center;
}

.package_details ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.image_container{
  flex-basis: 33.33%;
  aspect-ratio: 1 / 1; /* ⏹ a perfect square */
  /* background-color: aquamarine; */
}

.gallery__text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.33%;
  aspect-ratio: 1 / 1; /* ⏹ a perfect square */
  padding: 2rem;
}

.gallery__text > div{
  padding: 3rem;
}

img {
  filter: grayscale(100%);
}

.info__container{
  display: flex;
  flex-wrap: wrap;
}
.gender{
  flex: 1;
  padding: 3rem;
}

@media screen and  (max-width: 35rem)
{
  .image_container{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
  }
  .gallery__text{
    width: 100%;
    height: 100%;
    padding: .5rem;
  }

  .page__container{

    width: 90vw;

  }
  .gender{
    flex: 1;
    padding: 1rem;
  }

  .gender > div > p{
    font-size: 1rem;
  }

}
