.page{
  min-height: 1440px;
}
.page__container{
  position: relative;
  width: 60vw;
  margin: 0 auto;
}
.gallery__container{
  display: flex;
  flex-wrap: wrap;
  
}

.image_container{
  width: 450px;
  height: 450px;
  /* background-color: aquamarine; */
}

.gallery__text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  padding: 2rem;
}

img {
  filter: grayscale(100%);
}