<div class="banner banner_content">
  <div class="page__container">
    <div class="gallery__container">
      <div class="image_container">
        <img src="../../../assets/Headshots/h1.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline; ">
            <h2 class="letter-spacing-1">clarity</h2>
            <!-- <hr />
            Capture your unique personality and convey a clear sense of
            professionalism and confidence. -->
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h3.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline; ">
            <h2 class="letter-spacing-1">Lighting</h2>
            <hr />
            Good lighting is crucial for a great headshot. We use even and
            natural-looking light, to highlight your best features.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h4.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline;">
            <h2 class="letter-spacing-1">Expression</h2>
            <hr />
            Feeling comfortable will give you a natural and confident look,
            with a friendly and approachable demeanor.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h2.jpg" alt="" />
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h8.jpg" alt="" />
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h5.jpg" alt="" />
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h7.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline;">
            <h2 class="letter-spacing-1">Composition</h2>
            <hr />
            Your headshot will be well-composed, in the frame to bring your
            head and shoulders in ceter of focus.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h6.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline; ">
            <h2 class="letter-spacing-1">Background</h2>
            <hr />
            Simple background of complimenting color to set the focus on you.
          </div>
        </div>
      </div>
      <div class="image_container">
        <img src="../../../assets/Headshots/h9.jpg" alt="" />
      </div>
      <div class="image_container">
        <div class="gallery__text">
          <div style="display: inline; ">
            <h2 class="letter-spacing-1">Wardrobe</h2>
            <hr />
            Bring a variety of clothing that complements your features and
            reflects your style.
          </div>
        </div>
      </div>
    </div>
    <div class="info__container">
      <div class="gender">
        <h1>Women</h1>
        <div class="makeup">
          <h2 class="letter-spacing-1">Makeup</h2>
          <hr />
          <p> Makeup for the session is highly recommended for all women. The cost is $175 for makeup for the session
            and includes hair help.
            The makeup is applied specifically for the lighting we use and we usually start very naturally to give you a
            very clean simple look.
            We do touch-ups and will add subtle changes to the makeup as the shoot progresses. If you’d like to start
            off a little heavier on the makeup we are happy to do that as well, just let us know.</p>
        </div>
        <div class="hair">
          <h2 class="letter-spacing-1">Hair</h2>
          <hr />
          <p> We ask that everyone come in with their hair ready the way you would like to present yourself. We want
            your hair in your pictures to be as close as possible to the way you look on a fantastic hair day. Of
            course, our makeup artist is there to make sure it’s shoot ready and we will discuss what you’d like to do
            with it and make a game plan for the shoot.
            If you need a major overhaul hair wise or you are naturally curly and want to go straight there may be an
            extra $50 charge for our makeup artist to blow it out for you. Make sure you discuss this with us prior to
            your session, so we are all on the same page.</p>
        </div>
      </div>
      <div class="gender"><img src="../../../assets/Headshots/p1.jpg" alt="" /></div>
    </div>
    <div class="info__container">
      <div class="gender"><img src="../../../assets/Headshots/p2.jpg" alt="" /></div>
      <div class="gender">
        <h1>Men</h1>
        <div class="makeup">
          <h2 class="letter-spacing-1">Makeup</h2>
          <hr />
          <p>We don't recommend makeup on men, but our makeup artist can provide light grooming on the shoot for $50 if
            you like. All our work is retouched afterward so any blemishes will be taken care of during that process.
          </p>
        </div>
        <div class="hair">
          <h2 class="letter-spacing-1">Hair</h2>
          <hr />
          <p>If you’d like to shoot with facial hair we’d be happy for you to come in with whatever level of growth
            you’d like and can shave or trim it down once we’ve got it covered. Bring whatever grooming products you’ll
            need with you to get it done.</p>
        </div>
      </div>
    </div>
  </div>
  <hr style="width: 100%;">
  <div class="page__container">
    <div style="width: 100%;">
      <h2>Pricing:</h2>
      </div>
    <div class="packages_container">
      <div class="package">
        <div class="package_title">
          R E A L T O R<br>
          H E A D S H O T<br>
          S P E C I A L
        </div>
        <div class="package_price">
          <span>
            <h1>$275</h1>
          </span>
        </div>
        <div class="package_details">
          <ul>
            <li>includes 1 look</li>
            <li>includes 2 outfits</li>
            <li>30 Min Session</li>
            <li>Online Proofing</li>
            <li>2 Retouched Images</li>
          </ul>
        </div>

      </div>
      <div class="package">
        <div class="package_title">
          H E A D S H O T<br>
          B A S I C<br>
          P A C K A G E
        </div>
        <div class="package_price">
          <span>
            <h1>$450</h1>
          </span>
        </div>
        <div class="package_details">
          <ul>
            <li>includes 2 looks</li>
            <li>includes 4 outfits</li>
            <li>60 Min Session</li>
            <li>Online Proofing</li>
            <li>4 Retouched Images</li>
          </ul>
        </div>
      </div>
      <div class="package">
        <div class="package_title">
          H E A D S H O T<br>
          A D V A N C E D<br>
          P A C K A G E
        </div>
        <div class="package_price">
          <span>
            <h1>$650</h1>
          </span>
        </div>
        <div class="package_details">
          <ul>
            <li>includes 3 looks</li>
            <li>includes 6 outfits</li>
            <li>90 Min Session</li>
            <li>Online Proofing</li>
            <li>6 Retouched Images</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 100%;">
  <div class="page__container">
    <div style="width: 100%;">
  <h2>Extras:</h2>
  </div>
    <div class="packages_container">
      <div class="package">
        <div class="package_title">
          M A K U P
        </div>
        <div class="package_price">
          <span>
            <h1>$125</h1>
          </span>
        </div>
        <div class="package_details">
          <ul>
            <li>each look</li>
          </ul>
        </div>

      </div>
      <div class="package">
        <div class="package_title">
          H A I R
        </div>
        <div class="package_price">
          <span>
            <h1>$100</h1>
          </span>
        </div>
        <div class="package_details">

          <ul>
            <li>each look</li>
          </ul>
        </div>
      </div>
      <div class="package">
        <div class="package_title">
          B A S I C <br>
          R E T O U C H
        </div>
        <div class="package_price">
          <span>
            <h1>$45</h1>
          </span>
        </div>
        <div class="package_details">
          <ul>
            <li>per additional image</li>
          </ul>
        </div>
      </div>
      <div class="package">
        <div class="package_title">
          A D V A N C E D<br>
          R E T O U C H
        </div>
        <div class="package_price">
          <span>
            <h1>$99</h1>
          </span>
        </div>
        <div class="package_details">
          <ul>
            <li>per additional image</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr style="width: 100%;">
  <div class="page__container" style="padding-top: 2rem;">
    After each photo session, your untouched pictures will be available online for your review and selection within 72
    hours. It may take up to three weeks to complete and deliver the final edited images for you to download.
    Please keep in mind that the prices mentioned are for regular photoshoots, not commercial projects. If you have
    special projects that require commercial image usage, kindly reach out to us using the contact form to request a
    customized quote.
    Our rates can change over time, and for photoshoots outside of Seattle, there may be additional travel expenses. All
    deposits are non-refundable and can be paid online.
    The remaining payment should be settled when you arrive for your photoshoot. Additionally, we will require you to
    sign a model release or contract either upon arrival or before the session.
    If you're under 18, please ensure a parent or legal guardian is present throughout the shoot.
  </div>

</div>
