<div class="page">
<div class="page__container">
<div class="gallery__container">
  <div class="image_container"><img src="../../../assets/Headshots/h1.jpg" alt=""></div>
  <div class="image_container"><div class="gallery__text"><h1>Clarity</h1></div></div>
  <div class="image_container"><img src="../../../assets/Headshots/h2.jpg" alt=""></div>
  <div class="image_container">
    <div class="gallery__text"> 
      <div style="display: inline; padding: 3rem;">
        <h2>Lighting</h2>
      <hr> 
      Good lighting is crucial for a great headshot. The lighting should be even and natural-looking, highlighting the subject's best features.
    </div>
    </div>
  </div>
  <div class="image_container"><img src="../../../assets/Headshots/h3.jpg" alt=""></div>
  <div class="image_container"><div class="gallery__text"> 
    <div style="display: inline; padding: 3rem;">
      <h2>Expression</h2>
    <hr> 
    The subject's expression should be natural and confident, with a friendly and approachable demeanor.
  </div>
  </div></div>
  <div class="image_container"><img src="../../../assets/Headshots/h4.jpg" alt=""></div>
  <div class="image_container"><img src="../../../assets/Headshots/h5.jpg" alt=""></div>
  <div class="image_container"><img src="../../../assets/Headshots/h6.jpg" alt=""></div>
  <div class="image_container"><img src="../../../assets/Headshots/h7.jpg" alt=""></div>
  <div class="image_container"><div class="gallery__text"> 
    <div style="display: inline; padding: 3rem;">
      <h2>Composition</h2>
    <hr> 
    A great headshot should be well-composed, with the subject placed in the center of the frame and their head and shoulders in clear view.
  </div>
  </div></div>
  <div class="image_container"><img src="../../../assets/Headshots/h8.jpg" alt=""></div>
  <div class="image_container"><div class="gallery__text"><h1>Background</h1></div></div>
  <div class="image_container"><img src="../../../assets/Headshots/h9.jpg" alt=""></div>
  <div class="image_container"><div class="gallery__text"> 
    <div style="display: inline; padding: 3rem;">
      <h2>Wardrobe</h2>
    <hr> 
    The subject should be dressed in appropriate clothing that complements their features and reflects their style.
  </div>
  </div></div>
</div>
</div>
</div>