
.page__container{
  position: relative;
  margin: 0 auto;
}
.gallery__container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  grid-gap: 0px;
  /* max-width: 1000px; */
  margin: 0 auto;
}
.image_container{
  background-color: hsl( var(--clr-light));
  text-align: center;
  /* border: 1px solid #999; */
}

.packages_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.package{
  display: flex;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
  /* width: 33.33%; */
}
.package_title{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.package_price{
  text-align: center;
  width: 100%;
}

.package_details{
  width: 100%;
  text-align: center;
}

.package_details ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery_text_description{
  /* line-height: .8; */
}


.gallery__text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.33%;
  aspect-ratio: 1 / 1; /* â¹ a perfect square */
  padding: 2rem;
}

.gallery__text > div{
  padding: 3rem;
}

img {
  filter: grayscale(100%);
}

.info__container{
  display: flex;
  flex-wrap: wrap;
}
.gender{
  flex: 1;
  padding: 3rem;
}

@media screen and  (max-width: 35rem)
{
  .image_container{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border: 1px red solid;
  }
  .gallery__text{
    width: 100%;
    height: 100%;
  }
  .gallery_text_description{
    display: none;
    line-height: .9;
  }

  .page__container{

    width: 90vw;

  }
  .gender{
    flex: 1;
    padding: 1rem;
  }

  .gender > div > p{
    font-size: 1rem;
  }

  .image_container img{
    width: 100%;
    height: 100%;
  }

}
