<div class="banner banner_content three-color_Gradient">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
      <!-- Content for the first child div -->
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>
</div>

<!-- <div class="banner banner_content three-color_Gradient_2">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
 ==
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>
</div>

<div class="banner banner_content three-color_Gradient_3">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
==
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>
</div>

<div class="banner banner_content three-color_Gradient_4">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
==
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>
</div> -->

<div class="banner banner_content blue-purple_gradient">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
      <!-- Content for the first child div -->
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>

</div>

<div class="banner banner_content yelow-red_gradient">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
      <!-- Content for the first child div -->
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>

</div>

<div class="banner banner_content green-green_gradient">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
      <!-- Content for the first child div -->
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>

</div>

<div class="banner banner_content purple-lightBlue_gradient">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
      <!-- Content for the first child div -->
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>

</div>

<div class="banner banner_content brown-yellow_gradient">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
      <!-- Content for the first child div -->
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>

</div>

<div class="banner banner_content teal-green_gradient">
  <div class="repeater-section-container">
    <div class="section_div">
      <div class="section_title"> About Me</div>
      <!-- Content for the first child div -->
      <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's
        Camera. My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely
        that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
        Throughout the years,
        I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in
        photographing people. Feel free to contact me via email, phone or text with any questions you have.</p>
    </div>
    <div class="section_div section_image">
      <img src="../../../assets/Headshots/A7405297.png">
    </div>
  </div>

</div>

<div style="width: 100%; text-align: center;">
  <img src="https://firebasestorage.googleapis.com/v0/b/abphoto-ce0b8.appspot.com/o/Xmass3.jpg?alt=media&token=00c72346-df92-44a6-856d-4ae496b1970c">
</div>
<div>
  <p>✨🎄 Step into the warmth of the season with our Christmas Mini Photo Sessions in the cozy embrace of our home studio! 🏡✨
    Create timeless memories against festive backdrops, adorned with twinkling lights and holiday cheer. Whether you're envisioning a classic family portrait or a playful moment with your loved ones,
     our mini sessions are designed to capture the spirit of Christmas in every frame.
    Book your spot now for a magical experience filled with laughter, love, and the joy of the holiday season! 🎅📸 #ChristmasMagic #HomeForTheHolidays #MiniPhotoSessions 🎁🌟</p>
</div>
