<h1>Memento</h1>
             Over ten years as a professional photographer I have gatherd the expertise and equipment to produce high-quality portraits that showcase you in the best possible light.
             Working with hundreds of models of all experiences taught me how pose for multiple purposes and how to light the people to create flattering and professional-looking images. Not only that but I am here to
             help you to express your personality and style through your portraits, and to create images that capture the essence of who you are.
            <br>
            <br>
            <p class="text-dark">Our portraits are a way to preserve and significant moments and accomplishments in your life, as they can be treasured as a memento and a reminder of those times</p>
            <div class="banner_image">
              <img src="../../../assets/home/A7405297-Edit.jpg" style="width: 400px;">
          </div>
             
<div class="carousel">
  <button class="carousel__button carousel__button--left is-hidden">
    <img src="../../../assets/left.svg" alt="left">
 </button>

 <div class="carousel__track-container">
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>  
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div> 
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>  
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>   
</div>

 <button class="carousel__button carousel__button--right">
  <img src="../../../assets/right.svg" alt="right">
</button>
</div>


  <div class="dots">
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
  </div>