<h1>Memento</h1>
             Over ten years as a professional photographer I have gatherd the expertise and equipment to produce high-quality portraits that showcase you in the best possible light.
             Working with hundreds of models of all experiences taught me how pose for multiple purposes and how to light the people to create flattering and professional-looking images. Not only that but I am here to
             help you to express your personality and style through your portraits, and to create images that capture the essence of who you are.
            <br>
            <br>
            <p class="text-dark">Our portraits are a way to preserve and significant moments and accomplishments in your life, as they can be treasured as a memento and a reminder of those times</p>
            <div class="banner_image">
              <img src="../../../assets/home/A7405297-Edit.jpg" style="width: 400px;">
          </div>

          <p>   
            As a photographer with more than a decade of experience, I have the skills and tools to create excellent portraits that highlight your best features. 
            Working with numerous clients has taught me to pose and light people effectively to produce professional and attractive images. Additionally,
            I can help you express your personality and style through your portraits, capturing the essence of who you are.

            In the digital era, professional portraits can distinguish you from the mass of amateur photos and selfies, enhancing your visibility and memorability.
            They can also boost your personal branding, used for social media profiles, websites, and business cards, to present a professional and cohesive image.
        </p>

        <div class="experience_container text-dark">
          <div class="experience_item"><h3>Years</h3><br><h1>10</h1></div>
          <div class="experience_item"><h3>Clients</h3><br><h1>295</h1></div>
          <div class="experience_item"><h3>Projects</h3><br><h1>479</h1></div>
      </div>
             
<div class="carousel">
  <button class="carousel__button carousel__button--left is-hidden">
    <img src="../../../assets/left.svg" alt="left">
 </button>

 <div class="carousel__track-container">
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>  
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div> 
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>  
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>   
</div>

 <button class="carousel__button carousel__button--right">
  <img src="../../../assets/right.svg" alt="right">
</button>
</div>


  <div class="dots">
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
  </div>