<div class="carousel">
  <button class="carousel__button carousel__button--left is-hidden">
    <img src="../../../assets/left.svg" alt="left">
 </button>

 <div class="carousel__track-container">
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>  
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div> 
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>  
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>
  <div class="carousel__slide"></div>   
</div>

 <button class="carousel__button carousel__button--right">
  <img src="../../../assets/right.svg" alt="right">
</button>
</div>


  <div class="dots">
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
    <button class="dot"></button>
  </div>