h1 {
    font-size: calc(3rem + 3vw);
    font-family: var( --ff-Montserrat);
    margin: 0 0 0.25em;
    line-height: 1;
    max-width: 50%;
    color: hsl(var(--clr-green));
  }
  
  .subtitle {
    max-width: 70%;
  }
  
  .btn-group {
    margin: 2em 0;
    display: relative;
  }
  
  .btn {
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    line-height: 1;
  }
  
  .btn + .btn {
    margin-left: 1em;
  }
  
  .btn-secondary {
    background: var(--foreground);
    color: var(--background);
  }
  
  .btn-accent {
    background: hsl(var(--clr-green));
    color: var(--foreground);
  }
  
  .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: var(--foreground) 2px solid; */
    left: -4px;
    top: 4px;
    border-radius: inherit;
    z-index: -1;
  }
  
  .intro {
    height: 30vh;
    padding: 10em 0;
    display: grid;
    color: hsl(var(--clr-dark));
    /* grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
    background: linear-gradient(120deg, hsl(var(--clr-green)), hsl(var(--clr-tan))); */
    align-content: center;
  }
  
  .intro > * {
    grid-column: 2 / 3;
  }
  
  .products {
    padding: 10rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
  }
 
  .products_grid > *{
  padding: 10px; /* Optional: Adds padding to grid items */
  }

  .studio_grid, .lifestyle_grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .product__image_grid{
    grid-area: 1 / 2 / 6 / 7;
  }

  .product__image_grid  img{
    /* width: 500px; */
    width: clamp(300px, 500px, 500px);
  }
 
  .product__title_grid{
    grid-area:  1 / 1 / 6 / 2; 
    justify-self: right;
    width: 3rem;
    color: hsl(var(--clr-green));
    position: relative;
    align-content: center;
    z-index: 1;
    font-size: 1.7rem;
  }

  .product__title_grid h2{
    font-size: calc(1rem + 1vw);
    display: inline-block;
    position: absolute;
    left: 1rem; 
    bottom: -80%;
    transform-origin: 0 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg); 
    z-index: -1;
  }

  .product__detail_description_grid{
    text-align: left;
    grid-area: 6 / 1 / 7 / 7;
  }

.description_text{
    margin-left: 5rem;
    max-width: 500px;
    padding: 2rem;
}

.description_buttons{
    padding: 2rem;
    text-align: center;
}


@media screen and  (max-width: 35rem) 
{ 
 
  .product__title_grid h2{
    bottom: -70%;
    font-size: 1.3rem;
  }

  .intro {
    height: 20vh;
    padding: 15rem 0;
  }

  h1 {
    font-size: calc(3rem + 2vw);
  }

  .subtitle {
    max-width: 100%;
  }

  .products {
    padding: 1rem 0;
    gap: 5rem;
  }
  
}
