<div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
       <img src="../../../assets/left.svg" alt="left">
    </button>
    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide current_slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?cars" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?homes" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?people" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?travel" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?photography" alt=""></li>
        </ul>
    </div>
    <button class="carousel__button carousel__button--right">
        <img src="../../../assets/right.svg" alt="right">
    </button>

    <div class="carousel_nav">
        <button class="carousel__indicator current_slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>

</div>

<h1>Centre an Image in a div with overflow</h1>

<div class="pod">
<h5>This container div has an equal width and height.</h5>
<div class="container">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Museo_Pr%C3%ADncipe_Felipe%2C_Ciudad_de_las_Artes_y_las_Ciencias%2C_Valencia%2C_Espa%C3%B1a%2C_2014-06-29%2C_DD_56.JPG/2560px-Museo_Pr%C3%ADncipe_Felipe%2C_Ciudad_de_las_Artes_y_las_Ciencias%2C_Valencia%2C_Espa%C3%B1a%2C_2014-06-29%2C_DD_56.JPG" alt="" />
</div>
	
</div>
