<div class="banner banner_content">
<section class="intro">      
    <h1>Product Photography</h1>
    <p class="subtitle">Whether it's for e-commerce, advertising, or marketing purposes, my high-quality images will help you make a great first impression and drive sales.</p>  
    <div class="btn-group"> 
      <a href="#" class="btn btn-accent">Inquire</a>
      <a href="#" class="btn btn-secondary">More info</a>
    </div>
  </section>
  <section class="products">
    <div class="lifestyle">
        <div class="product__title letter-spacing-3"><h2>Lifestyle Product Photography</h2></div>
       <div class="product__image"> <img src="../../../assets/products/MKY03496-Edit.jpg"></div>
       <div class="product__detail_description">
        We captures the product in a real-life 
        setting, such as in use by a model or in a 
        staged environment that showcases the product's benefits and features.
    </div>
        <div class="product__details">
         
            <a href="#" class="btn btn-accent">Inquire</a>
        </div>
    </div>
    <div class="studio">
    <div class="product__title letter-spacing-3"><h2>Studio Product Photography</h2></div>
    <div class="product__image"><img src="../../../assets/products/A7402334-Edit.jpg"></div>
    <div class="product__detail_description">
        <div class="text">
            This involves photographing the product in a 
            studio setting against a plain background to 
            draw attention to the product itself
        </div>
     
    </div>
    <div class="product__details">
       
        <a href="#" class="btn btn-accent">Inquire</a>
    </div>
</div>
  </section>


  <section class="products_grid">

    <div class="lifestyle_grid">
        <div class="product__title_grid letter-spacing-3"><h2>Lifestyle Product Photography</h2></div>
        <div class="product__image_grid"><img src="../../../assets/products/MKY03496-Edit.jpg"></div>
        <div class="product__detail_description_grid">
            <div class="text">
                We captures the product in a real-life 
        setting, such as in use by a model or in a 
        staged environment that showcases the product's benefits and features.
            </div>
            <a href="#" class="btn btn-accent">Inquire</a>
        </div>
    </div>
    <div class="studio_grid">
    <div class="product__title_grid letter-spacing-3"><h2>Studio Product Photography</h2></div>
    <div class="product__image_grid"><img src="../../../assets/products/A7402334-Edit.jpg"></div>
    <div class="product__detail_description_grid">
        <div class="text">
            This involves photographing the product in a 
            studio setting against a plain background to 
            draw attention to the product itself
        </div>
        <a href="#" class="btn btn-accent">Inquire</a>
    </div>
    
    </div>
  </section>

</div>
