

<div class="pageContainer">

    <div class="banner carousel_component">
        <app-carousel></app-carousel>
        <div class="jumbotron_text">
            <h2> Elevate Your Image,<br>Market with confidence</h2>
        </div>
    </div>

    <div class="banner banner_content ">
        <div class="banner_text ">
            <div><h1 class="fs-800 uppercase letter-spacing-1">make a statement</h1> </div>
            <div class="banner_content_text fs-600 --ff-source-sans-pro">
              If you're searching for a top-notch headshot photographer in Seattle, you've come to the right place.
               Our Seattle-based headshot photography services are tailored to individuals and professionals looking to elevate their image and make a lasting impression.
               With years of experience in the industry, I specialize in capturing professional headshots that exude confidence, warmth, and authenticity.
               Whether you're an actor, business executive, or model, our studio in Seattle is equipped to provide you with the best headshot experience.
              I will use my expertise to ensure your headshot reflects your unique personality and style.
              Contact me today to schedule a session with Seattle's premier headshot photographer, and boost your professional image with stunning headshots.
              <!-- Whether working professional or a student, a professional headshot or professional portrait will help show your confidence and convince those seeking your skills.
              I can’t emphasize enough that headshot and portrait photography is not just about having a technically great image. It’s just as important that the images show true personality.
              I specialize in providing individuals and professionals with fantastic outdoor or studio portraits and headshots. However, it's best to let my work speak for what I do. -->
            </div>
        </div>
    </div>
    <div class="banner banner_content ">
        <div class="banner_text card_banner text-center">
    <div class="card_banner_title"><h2 class="fs-800 uppercase text-dark letter-spacing-1"> Create, Capture, Cherish</h2></div>
    <div class="card_banner_content"><div class="text-dark fs-600 --ff-source-sans-pro">Expertly crafted photography that captures the unique essence.</div></div>
    </div>
    <div class="card_container">
        <a href="#" routerLink="/studio" routerLinkActive="active"> <app-card [url]="url_0"></app-card></a>
        <a href="#" routerLink="/headshot" routerLinkActive="active"><app-card [url]="url_1"></app-card></a>
        <a href="#" routerLink="/portrait" routerLinkActive="active"><app-card [url]="url_2"></app-card></a>
        <a href="#" routerLink="/product" routerLinkActive="active"><app-card [url]="url_3"></app-card></a>
    </div>
    </div>
    <div class="banner banner_content">
        <app-testimonials style="width: 100%;"></app-testimonials>
    </div>
    <div class="banner banner_content">
        <div style="width: 100%;" class="text-center fs-600 --ff-source-sans-pro">  As a Seattle headshot photographer I've had the pleasure of collaborating with some incredible local clients.<br><br></div>

        <app-brands></app-brands>
    </div>

   <div class="banner banner_content aboutMeBlock">

 <img class="aboutme_image" src="../../../assets/home/A7405297-Edit.jpg" >

<h1 class="letter-spacing-1"> So, who am I?</h1>
  <p>
  My name is Alex and I am a professional photographer with more than a decade of experience capturing headshots and portraits.
  Over time, working with numerous clients has taught me to pose and light people effectively to produce professional and attractive images that highlight your best features. Additionally,
  I will help you express your personality and style through your portraits, by capturing the essence of who you are.
<br>
  In the digital era, professional portraits can distinguish you from the mass of amateur photos and selfies, enhancing your visibility and memorability.
  They can also boost your personal branding, used for social media profiles, websites, and business cards, to present a professional and cohesive image.
  </p>
<hr/>
<div class="experience_container text-dark">
<div class="experience_item"><h3>Years</h3><br><h1>10</h1></div>
<div class="experience_item"><h3>Clients</h3><br><h1>678</h1></div>
<div class="experience_item"><h3>Projects</h3><br><h1>479</h1></div>
</div>

         <!-- <app-sample-code></app-sample-code> -->
    </div>

</div>



