

<div class="pageContainer">
   
    <div class="banner carousel_component">
        <app-carousel></app-carousel>
        <div class="jumbotron_text">
            <h1>Alex Bucse &reg;<br> Elevate Your Image</h1>
        </div>
    </div>
 
    <div class="banner banner_content">
        <div class="banner_text ">
            <div class="banner_content_text text-dark fs-600 ">
                
                As a photographer with more than a decade of experience, I have the skills and tools to create excellent portraits that highlight your best features. 
                Working with numerous clients has taught me to pose and light people effectively to produce professional and attractive images. Additionally,
                I can help you express your personality and style through your portraits, capturing the essence of who you are.

                In the digital era, professional portraits can distinguish you from the mass of amateur photos and selfies, enhancing your visibility and memorability.
                They can also boost your personal branding, used for social media profiles, websites, and business cards, to present a professional and cohesive image.
            
            </div>
            
            <div class="experience_container text-dark">
                <div class="experience_item"><h3>Years</h3><br><h1>10</h1></div>
                <div class="experience_item"><h3>Clients</h3><br><h1>295</h1></div>
                <div class="experience_item"><h3>Projects</h3><br><h1>479</h1></div>
            </div>
        </div>
    
    </div>
    <div class="banner banner_content ">
        <div class="banner_text card_banner text-center">
    <div class="card_banner_title"><h1 class="text-dark"> Create, Capture, Cherish</h1></div>
    <div class="card_banner_content"><p class="text-dark">Expertly crafted studio photography that captures your unique essence.</p></div>
    </div>
    <div class="card_container">
    <app-card [url]="url_0"></app-card>
    <app-card [url]="url_1"></app-card>
    <app-card [url]="url_2"></app-card>
    <app-card [url]="url_3"></app-card>
    </div>
    </div>
    <div class="banner banner_content dark-bg">
        <h1> Something for everyone</h1>
    </div>
    
</div>