

<div class="pageContainer">
   
    <div class="banner carousel_component">
        <app-carousel></app-carousel>
        <div class="jumbotron_text">
            <h1> Elevate Your Image<br>Market with confidence</h1>
        </div>
    </div>
 
    <div class="banner banner_content">
        <div class="banner_text ">
            <div class="banner_content_text text-dark fs-600 --ff-source-sans-pro">
               You know social media is a powerful tool to reach your potential customers, but every time you try to post something you feel a wave of fear wash over you. Are you worried that your online image doesn't inspire confidence?
               Overcome the fear and make a statement with a headshot that highlights your best features. 
            </div>
        </div>
    </div>
    <div class="banner banner_content ">
        <div class="banner_text card_banner text-center">
    <div class="card_banner_title"><h1 class="text-dark"> Create, Capture, Cherish</h1></div>
    <div class="card_banner_content"><p class="text-dark">Expertly crafted studio photography that captures your unique essence.</p></div>
    </div>
    <div class="card_container">
    <app-card [url]="url_0"></app-card>
    <app-card [url]="url_1"></app-card>
    <app-card [url]="url_2"></app-card>
    <app-card [url]="url_3"></app-card>
    </div>
    </div>
    <div class="banner banner_content">
        <div style="width: 100%;" class="text-center">  <h1>FEEDBACK</h1>
        <br><span>What others have to say.</span></div>
      
        <app-testimonials style="width: 100%;"></app-testimonials>
    </div>
    <div class="banner banner_content">
        <div style="width: 100%;" class="text-center">  <h2>We've had the pleasure of collaborating with some incredible clients.</h2></div>
      
        <app-brands></app-brands>
    </div>
    <div class="banner banner_content dark-bg">
        <h1> Something for everyone</h1>
    </div>
    
</div>