.pageContainer{
    padding-top: 1rem;
    box-sizing: border-box;
    text-align: center;
    
}

.banner{
    width: calc(100% - 10rem);
}

.carousel_component{
    position: relative;
    height: fit-content;
    min-height: 30vh; 
    margin-inline: auto;
    margin-bottom:4rem;
    
}
.card_container{
    display: flex;
    gap: 2rem;
    margin-inline: auto;
    justify-content: center;
    padding: 1rem;
}

/* .banner_image{
    background-image: url("http://source.unsplash.com/1024x768/?studio");
    mix-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 60vh;
    border-radius: 10px;
    margin-inline: auto;
    margin-bottom:4rem;
    z-index: -1;
} */

.jumbotron_text {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    position: absolute;
    text-transform: uppercase;
    /* border: salmon solid 2px; */
    font-size: var(--fs-700);
    color: white;
    text-align: center;
    bottom: 0;
    z-index: 1;
    /* line-height: 3rem; */
}

.banner_content{
    display: flex;
    position: relative;
    background-color: white;
    height: fit-content;
    min-height: 30vh; 
    border-radius: 10px;
    margin-inline: auto;
    margin-bottom:4rem;
    z-index: -1;
    padding: 5rem;
    text-align: left;
    flex-wrap: wrap;
}

.banner_content_text {
    font-size: 1.3rem;
    /* padding: 2rem; */
    text-align: left;
    bottom: 0;
    z-index: 1;
}



 .dark-bg{
    text-align: center;
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-light));
    font-size: 3rem;
}

.experience_container{
    display: flex;
}

.experience_item{
    text-align: center;
    flex: 1;
    line-height: .1rem;
}

@media screen and  (max-width: 35rem) 
{   .banner_content_text{
        font-size: 1rem;
        line-height: 1.1;
    }
    .banner_text{
        font-size: 1rem;
    }

    .banner{
       
        width: calc(100% - 1rem);
    }

    .banner_content{
        padding: 1rem;
    }

    .carousel_component{
    position: relative;
    height: fit-content;
    min-height: 20vh; 
    margin-inline: auto;
    margin-bottom:3rem;
    }

    .card_container{
        display: flex;
        flex-wrap: wrap;
    }

    .dark-bg{
        font-size: 1rem;
    }
}

.banner_image{
    flex: 1;
    width: 50%;
}

.banner_text{
    flex: 1;

}
.card_banner{
    width: 100%;
    flex-basis: 100%;
}