<header class="primary-header flex">

  <div class="logo">
    <a href="#">Alex Bucse <span class="reg">&reg;</span></a>
  </div>  
  <div class="primary-naviation-container">
        <button class="mobile-nav-toggle" aria-controls="primary-navigation underline-indicators"><span class="sr-only" aria-expanded="false">Menu</span></button>
            <nav>
                <ul id="primary-navigation" class="primary-navigation underline-indicators flex">
                  <li class="navbar_item">
                    <a class ="ff-sans-cond uppercase text-accent underline-indicators letter-spacing-5" href="#" routerLink="/home" routerLinkActive="active"><span>00</span>Home</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent underline-indicators letter-spacing-5" href="#" routerLink="/studio" routerLinkActive="active"><span>01</span>Studio</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent underline-indicators letter-spacing-5"  href="#" routerLink="/headshot" routerLinkActive="active"><span>02</span>Headshots</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent underline-indicators letter-spacing-5" href="#" routerLink="/portrait" routerLinkActive="active"><span>03</span>Portraits</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent underline-indicators letter-spacing-5" href="#" routerLink="/product" routerLinkActive="active"><span>04</span>Product</a>
                  </li>
                  <li>
                    <button id="dark-mode-toggle" class="dark-mode-toggle">
                      <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/></svg>
                    </button>
                  </li>
                </ul>
            </nav>
            
  </div>
  <div class="contact_container">
  <div class="btn_contact">
    <a href="#">Contact</a>
  </div>
</div>

</header>
