<header class="primary-header flex">

  <div class="logo">
    <a href="#">Alex Bucse <span class="reg">&reg;</span></a>
  </div>  
  <div class="primary-naviation-container">
        <button class="mobile-nav-toggle" aria-controls="primary-navigation underline-indicators"><span class="sr-only" aria-expanded="false">Menu</span></button>
            <nav>
                <ul id="primary-navigation" class="primary-navigation underline-indicators flex">
                  <li class="navbar_item" class="active">
                    <a class ="ff-sans-cond uppercase text-accent  letter-spacing-5" href="#" routerLink="/home" routerLinkActive="active"><span>00</span>Home</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent  letter-spacing-5" href="#" routerLink="/studio" routerLinkActive="active"><span>01</span>Studio</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent  letter-spacing-5"  href="#" routerLink="/headshot" routerLinkActive="active"><span>02</span>Headshots</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent  letter-spacing-5" href="#" routerLink="/portrait" routerLinkActive="active"><span>03</span>Portraits</a>
                  </li>
                  <li class="navbar_item">
                    <a class="ff-sans-cond uppercase text-accent  letter-spacing-5" href="#" routerLink="/product" routerLinkActive="active"><span>04</span>Product</a>
                  </li>
                </ul>
            </nav>
  </div>
  <div class="contact_container">
  <div class="btn_contact">
    <a href="#">Contact</a>
  </div>
</div>
</header>
