<nav>
    <div class="navbar_container">
  <div class="btn_logo">
    <a href="#">Alex Bucse &reg;</a>
  </div>
      
      <div class="navbar_menu">
        <ul class="flex" >
          <li class="navbar_item">
            <a class="active" href="#" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="navbar_item">
            <a class="" href="#" routerLink="/studio" routerLinkActive="active">Studio</a>
          </li>
          <li class="navbar_item">
            <a class="active"  href="#" routerLink="/headshot" routerLinkActive="active">Headshots</a>
          </li>
          <li class="navbar_item">
            <a class="" href="#" routerLink="/portrait" routerLinkActive="active">Portraits</a>
          </li>
          <li class="navbar_item">
            <a class="" href="#" routerLink="/product" routerLinkActive="active">Product</a>
          </li>
        </ul>
      </div>
      <div class="btn_contact">
        <a href="#">Contact</a>
      </div>
    </div>
  </nav>