<div class="item item5">Services</div>
<div class="main-dev">

  <div class="item">
    <ul>
      <li>Laundry</li>
      <li>Assistance with Daily Living (ADLs)</li>
      <li>Medication Management</li>

      <li>Respite Care (Temporary, i.e. weeks to months)</li>
      <li>Wound Care</li>
      <li>Visual/Hearing Impaired</li>

      <li>Transportation</li>
      <li>Special Diets</li>
      <li>Traumatic Brain Injury</li>
    </ul>
  </div>
  <div class="item">
    <ul>
      <li>Medication Management by Licensed Nurse (RN on Site)</li>
      <li>Housekeeping</li>
      <li> Physical/Occupational Therapy</li>

      <li>Speech Therapy (Visits on Site)</li>
      <li> Pharmacy/Medications Delivery</li>
      <li> Oxygen Therapy</li>

      <li> Total Care for Quadriplegic</li>
      <li>Assistance with health and wellness appointments</li>
      <li>Bathing Assistance</li>
    </ul>

  </div>
  <div class="item">
    <ul>
      <li>Fall Prevention Program</li>
      <li> Stroke CVA patients</li>
      <li>Blood Glucose Monitoring</li>

      <li>Activity Program</li>
      <li> Church Visits</li>
      <li>Setting up Transportation</li>

      <li> Tube Feeding</li>
      <li>IV Therapy</li>
      <li>Bingo and other games</li>
    </ul>
  </div>

  <div class="item">
    <ul>
      <li> Piano available/recitals</li>
      <li>Central lines/TPN administration</li>
      <li>TPN</li>

      <li>Owned and managed by nurses. RN available 24/7 onsite/on-call as care provider.</li>
      <li>Home Health, Palliative, Hospice</li>
      <li>End of Life Care. Last weeks of life care.</li>

      <li>RN on site part time</li>
      <li>Robust Wound Care Team</li>
      <li>Cardiac care</li>
    </ul>

  </div>

</div>
<hr>
<div class="item item5">Activities</div>
<div class="main-dev">

  <div class="item">
    <ul>
      <li> Holiday Celebrations</li>
      <li>Birthday Parties</li>
      <li>Exercise Classes</li>

      <li>Movie Night</li>
      <li>Bingo</li>
      <li>Board and Card Games</li>

      <li>Musical Programs</li>
      <li>Painting Class</li>
      <li>Story Time</li>
    </ul>
  </div>
  <div class="item">
    <ul>
      <li>Reading Activities</li>
      <li>In Home Library</li>
      <li>Tea Time</li>

      <li>Puzzles</li>
      <li>Dancing & Singing</li>
      <li>Painting</li>

      <li>Bible Study</li>
      <li>Coloring</li>
      <li>Activities depend on population needs</li>

    </ul>
  </div>
  <div class="item">
    <ul>
      <li>Home Health Visits from nursing, MSW, Therapist, Dietitian</li>
      <li>Range of motion exercise</li>
      <li></li>

      <li></li>
      <li></li>
      <li></li>

      <li></li>
      <li></li>
      <li></li>

    </ul>
  </div>
</div>
<hr>
Features
Library
Wheelchair/Walker Accessible
Private Setting
Activity Room
Cable/Dish/Satellite Television
Private Telephones
Near Hospital
Air Conditioning
Complimentary Newspapers
Internet Access
Emergency Call System/Button
Complimentary Magazines
Piano Time
Security Alarm System
Register Nurse Owned Home
Close to Bus Line
(As requested) TV channel
Private Rooms
Patio and/or Deck
Pet visits allowed, but do not live at the facility.
Guest WIFI provided with Super High Speed Internet
