<h1 class="gradient_text">GRADIENT TEXT </h1>

<h2>Display: FLEX</h2>
<div class="flex">
    <div>Lorem, ipsum.</div>
    <div>Quaerat, delectus?</div>
    <div>Porro, exercitationem.</div>
    <div>Repudiandae, iste?</div>
    <div>Nulla, pariatur!</div>
    <div>Odio, odit.</div>
    <div>Saepe, totam.</div>
</div>

<hr>
<h2>Display: GRID</h2>
<div class="grid">
    <div>Lorem, ipsum.</div>
    <div>Quaerat, delectus?</div>
    <div>Porro, exercitationem.</div>
    <div>Repudiandae, iste?</div>
    <div>Nulla, pariatur!</div>
    <div>Odio, odit.</div>
    <div>Saepe, totam.</div>
</div>

