<div class="banner banner_content footer_banner">
<div class='footer_content text-center'>
    <div class="footer__container">
        <div class="footer_section section1">  <h2 class="letter-spacing-1">Solutions</h2>
            <hr />
            <br>
            <div class="link">
                <a href='#'>
                    Headshots</a>
            </div>
            <div class="link">
                <a href='#'>
                   Portraits</a>
            </div>
            <div class="link">
                <a href='#'>
                   Products</a>
            </div>
            <div class="link">
                <a href='#'>
                   Real Estate</a>
            </div>
            <div class="link">
                <a href='#'>
                   Events</a>
            </div>
        </div>
        <div class="footer_section section2">  <h2 class="letter-spacing-1">About</h2>
            <hr />
            <br>
            <p>Starting my photography career during my time at Sammamish High School, I landed a sales position at Kit's Camera.
                 My passion for developing and printing photos soon led me to work in the 1-hour photo booth. It's likely that I've printed some of your photos from your film days in Factoria, Issaquah, South Center, or Klahanie.
                Throughout the years, I've captured various events, weddings, and commercial products, but I eventually discovered my true calling in photographing people.

                Feel free to contact me via email, phone or text with any questions you have.</p>
        </div>
        <div class="footer_section section3">  <h2 class="letter-spacing-1">Contact</h2>
            <hr />
            <div class="link">
                <a href='mailto:monkifoto@gmail.com'>
                    <img style="height: 1rem;" src="../../assets/email.svg"/>monkifoto@gmail.com</a>
            </div>

            <div class="link">
                <a href='tel:4253904204' >
                <img style="height: 1rem;"  src="../../assets/call.svg"/>425 390 4204</a>
            </div>

            <div class="link">
                <a href='http://www.instagram.com/monkifoto'target='_blank'>
                    <img style="height: 1rem;" src="../../assets/ig.svg"/>Instagram</a>
            </div>

            <div class="link">
                <a href='http://www.facebook.com/monkifoto' target='_blank'>
                <img style="height: 1rem;"  src="../../assets/fb.svg"/>Facebook</a>
            </div>

            <div class="link">
                <a href='https://www.youtube.com/channel/UCqT0likujRE4LjRimlbhxfg' target='_blank'>
                    <img style="height: 1rem;"  src="../../assets/youtube.svg"/>Youtube</a>
            </div>

            <div class="link">
                <a href='https://www.yelp.com/biz/monkifoto-renton' target='_blank'>
                    <img style="height: 1rem;"  src="../../assets/yelp.svg"/>Yelp</a>
            </div>

            <div class="link">
                    <a href='https://maps.app.goo.gl/FGU2NHktLS1pVmV46' target='_blank'>
                        <img style="height: 1rem;"  src="../../assets/google.svg"/>Google</a>
            </div>

        </div>
        </div>

</div>

<div class="footer_copy">

    <p style='text-align:center'>Copyright &#169; 2018 - 2023 Monkifoto - All Rights Reserved. Design
        by Alex Bucse.</p>
</div>
</div>
