
.footer {
    position: absolute;
  bottom: 0;
  width: 100%;
   
}

.footer_content{
    margin-top:4rem;
    display: flex;
    width: 100%;
    /* border: salmon solid 1px; */
    gap: 1rem;
    justify-content: center;
}
  