
.footer_banner{
  background-color: var(--foreground);
  color:var(--background);
}

.footer__container
{
  display: flex;
  background-color: var(--foreground);
  color:var(--background);
  flex-wrap: wrap;
}
.footer_section{
  flex: 1;
  padding: 1rem;
  text-align: left;
}

.section1
.section3{
  flex: 0 0 10%;
}

.section2{
  flex: 0 0 50%
}

.footer_section .link a{
  color:var(--background);
}

.footer_section .link a:hover{
  color:var(--background);
}

.footer_section .link a img {
  display: inline;
}


