<div class='footer_content text-center'>

    <div class="link">
        <a href='mailto:monkifoto@gmail.com'>
            <img style="height: 1rem;" src="../../assets/email.svg"/></a>
    </div>

    <div class="link">
        <a href='tel:4253904204' >
        <img style="height: 1rem;"  src="../../assets/call.svg"/></a>
    </div>

    <div class="link">
        <a href='http://www.instagram.com/monkifoto'target='_blank'>
            <img style="height: 1rem;" src="../../assets/ig.svg"/></a>
    </div>

    <div class="link">
        <a href='http://www.facebook.com/monkifoto' target='_blank'>
        <img style="height: 1rem;"  src="../../assets/fb.svg"/></a>
    </div>

    <div class="link">
        <a href='https://www.youtube.com/channel/UCqT0likujRE4LjRimlbhxfg' target='_blank'>
            <img style="height: 1rem;"  src="../../assets/youtube.svg"/></a>
    </div>

    <div class="link">
        <a href='https://www.yelp.com/biz/monkifoto-renton' target='_blank'>
            <img style="height: 1rem;"  src="../../assets/yelp.svg"/></a>
    </div>
  
    <div class="link">
            <a href='https://www.yelp.com/biz/monkifoto-renton' target='_blank'>
                <img style="height: 1rem;"  src="../../assets/google.svg"/></a>
    </div>
   
</div>

<div>
    
    <p style='text-align:center'>Copyright &#169; 2018 - 2023 Monkifoto - All Rights Reserved. Design
        by Alex Bucse.</p>
</div>
