<div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
       <img src="../../../assets/left.svg" alt="left">
    </button>
    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide current_slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?cars" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?homes" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?people" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?travel" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="http://source.unsplash.com/1024x768/?photography" alt=""></li>
        </ul>
    </div>
    <button class="carousel__button carousel__button--right">
        <img src="../../../assets/right.svg" alt="right">
    </button>

    <div class="carousel_nav">
        <button class="carousel__indicator current_slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>

</div>