
<div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
       <img src="../../../assets/left.svg" alt="left">
    </button>
    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide current_slide"><img class="carousel__image" src="../../../assets/carousel-images/C1.jpg" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="../../../assets/carousel-images/C2.jpg"alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="../../../assets/carousel-images/C3.jpg" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="../../../assets/carousel-images/C4.jpg" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="../../../assets/carousel-images/C5.jpg" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="../../../assets/carousel-images/C6.jpg" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="../../../assets/carousel-images/C7.jpg" alt=""></li>
            <li class="carousel__slide"><img class="carousel__image" src="../../../assets/carousel-images/C8.jpg" alt=""></li>
        </ul>
    </div>
    <button class="carousel__button carousel__button--right">
        <img src="../../../assets/right.svg" alt="right">
    </button>

    <div class="carousel_nav">
        <button class="carousel__indicator current_slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>

</div>
